<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brandonswanson.crackthecode"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/shuffle_button"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.brandonswanson.crackthecode.GameSplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.brandonswanson.crackthecode.PlayGameActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.brandonswanson.crackthecode.ChangeDifficulty"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.brandonswanson.crackthecode.ScoresView"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyDialog" >
        </activity>
        <activity
            android:name="com.brandonswanson.crackthecode.Help"
            android:label="@string/title_activity_help" >
        </activity>
    </application>

</manifest>